adafruit_fakerequests==1.0.12
adafruit_miniqr==2.0.1
adafruit_pixelbuf==2.0.2
adafruit_requests==2.0.1
adafruit_touchscreen==1.2.2
neopixel==6.3.9
simpleio==3.0.11
adafruit_bitmap_font==2.0.1
adafruit_bus_device==5.2.6
adafruit_display_text==3.0.0
adafruit_esp32spi==6.0.1
adafruit_io==5.7.2
adafruit_minimqtt==7.4.1
adafruit_portalbase==1.15.1
adafruit_pyportal==6.2.10
